{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="" method="get" class="card-header" id="filter_form">
        <div class="form-row justify-content-between">
            <div class="col-md-2">
                <input type="text" id="title" name="title" placeholder="Product Title" class="form-control">
            </div>
            <div class="col-md-2">
                <select name="variant" id="variant_select" class="form-control">
                    <option selected disabled>--Select A Variant--</option>
                        {% for variant in variants %}
                        <optgroup label="{{variant.title}}">
                            {% for productvar in  variant.options %}
                            <option value="{{productvar}}">{{productvar}}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                </select>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    <input type="text" name="price_from" aria-label="First name" placeholder="From"
                        class="form-control">
                    <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <input type="date" name="date" placeholder="Date" class="form-control">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Variant</th>
                        <th width="150px">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in page_obj %}
                    <tr>
                        <td>{{page_obj.start_index|add:forloop.counter0}}</td>
                        <td>{{product.title}}<br> Created at : {{product.created_at|timesince}} ago</td>
                        <td>{{product.description}}</td>
                        <td>
                            <dl class="row mb-0" style="height: 80px; overflow: hidden"
                                id="variant_{{forloop.counter}}">
                                {% for productvariantprice in product.productvariantprice_set.all %}

                                <dt class="col-sm-3 pb-0">
                                    {{productvariantprice.product_variant_one.variant_title}} /
                                    {% if productvariantprice.product_variant_two %} {{productvariantprice.product_variant_two.variant_title}} /{% endif%}
                                    {% if productvariantprice.product_variant_three %} {{productvariantprice.product_variant_three.variant_title}} /{% endif%}
                                </dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        <dd class="col-sm-4 pb-0">Price : {{productvariantprice.price}}</dd>
                                        <dd class="col-sm-8 pb-0">InStock : {{productvariantprice.stock}}</dd>
                                    </dl>
                                </dd>
                                {% endfor %}
                            </dl>
                            <button onclick="$('#variant_{{forloop.counter}}').toggleClass('h-auto')"
                                class="btn btn-sm btn-link">Show more
                            </button>
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="{% url 'product:edit.product' product.id %}" class="btn btn-success">Edit</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} out of {{ page_obj.paginator.count }}
                </p>
            </div>
            <div class="col-md-2">
                {% if is_paginated %}
                <nav aria-label="Page navigation example" class="d-flex justify-content-end">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
            
                        <li class="page-item">
                            <button type="button" class="page-link" href="#" aria-label="Previous"
                                onclick="filterByUrl('page', `{{ page_obj.previous_page_number }}`)">
                                <span aria-hidden="true">&laquo;</span>
                            </button>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <button type="button" class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </button>
                        </li>
                        {% endif %}
            
                        <!-- {% if page_obj.number|add:'-1' > 1 %}
                        <li class="page-item">
                            <button type="button" onclick="filterByUrl('page', `{{ page_obj.number|add:'-2'}}`)"
                                class="page-link">&hellip;
                            </button>
                        </li>
                        {% endif %} -->

                        {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="page-item active" aria-current="page">
                            <button class="page-link" href="#">{{i}}</button>
                        </li>
                        {% comment %}
                        <!-- {% elif i > page_obj.number|add:'-2' and i < page_obj.number|add:'2' %} 
                        <li class="page-item">
                            <button type="button" onclick="filterByUrl('page', '{{i}}')" class="page-link">{{ i }}</button>
                        </li> -->
                        {% endcomment %}
                        {% else %} 
                        <li class="page-item">
                            <button type="button" onclick="filterByUrl('page', '{{i}}')" class="page-link">{{ i }}</button>
                        </li>
                        {% endif %}
                        {% endfor %}

                        <!-- {% if page_obj.paginator.num_pages > page_obj.number|add:'1' %}
                        <li class="page-item">
                            <button type="button" onclick="filterByUrl('page', `{{ page_obj.number|add:'2'}}`)"
                                class="page-link">&hellip;
                            </button>
                        </li>
                        {% endif %} -->
            
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <button type="button" class="page-link" href="#" aria-label="Next"
                                onclick="filterByUrl('page', `{{ page_obj.next_page_number }}`)">
                                <span aria-hidden="true">&raquo;</span>
                            </button>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <button type="button" class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </button>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script>
    const filterForm = document.getElementById("filter_form")
    const urlParams = new URLSearchParams(window.location.search);

    filterForm.addEventListener("submit", function (e) {
        e.preventDefault()
        let formData = Object.fromEntries(new FormData(e.target))

        const urlParams = new URLSearchParams();
        Object.keys(formData).forEach(function (key) {
            urlParams.set(key, formData[key]);
        });
        window.location.search = urlParams;
    })

    function filterByUrl(key, value) {
        urlParams.set(key, value);
        window.location.search = urlParams;
    }

    window.addEventListener('DOMContentLoaded', (event) => {
        let formData = Object.fromEntries(new FormData(filterForm))

        Object.keys(formData).forEach(function (key) {
            $(`[name=${key}`).val(urlParams.get(key))
        });

        if (urlParams.get('variant'))
            $('#variant_select').val(urlParams.get('variant'))
    });
</script>
{% endblock %}